<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controllerPersona</servlet-name>
        <servlet-class>Controlador.controllerPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerMedicamento</servlet-name>
        <servlet-class>Controlador.controllerMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerFormula</servlet-name>
        <servlet-class>Controlador.controllerFormula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerFormulaProducto</servlet-name>
        <servlet-class>Controlador.controllerFormulaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerLugarAtencion</servlet-name>
        <servlet-class>Controlador.controllerLugarAtencion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerCita</servlet-name>
        <servlet-class>Controlador.controllerCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerEspecialidad</servlet-name>
        <servlet-class>Controlador.controllerEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerReporte</servlet-name>
        <servlet-class>Controlador.controllerReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerPersona</servlet-name>
        <url-pattern>/Persona.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerMedicamento</servlet-name>
        <url-pattern>/Medicamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerFormula</servlet-name>
        <url-pattern>/Formula.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerFormulaProducto</servlet-name>
        <url-pattern>/FormulaProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerLugarAtencion</servlet-name>
        <url-pattern>/LugarAtencion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerCita</servlet-name>
        <url-pattern>/Cita.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerEspecialidad</servlet-name>
        <url-pattern>/Especialidad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerReporte</servlet-name>
        <url-pattern>/Reporte.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
