<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinicanaturista</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Mapeo/Cita.xml"/>
    <mapping resource="Mapeo/Especialidad.xml"/>
    <mapping resource="Mapeo/Formula.xml"/>
    <mapping resource="Mapeo/Medicamento.xml"/>
    <mapping resource="Mapeo/Persona.xml"/>
    <mapping resource="Mapeo/FormulaProducto.xml"/>
    <mapping resource="Mapeo/LugarAtencion.xml"/>
  </session-factory>
</hibernate-configuration>
